backend/node_modules/
backend/dist/
backend/.env
backend/images/


frontend/node_modules
frontend/.vite
frontend/.env
frontend/dist/

image-processor/node_modules/
image-processor/dist/
image-processor/images/

images-data/
mongo-data/
.env

template

create-users.sh
create-superadmins.sh