backend/node_modules/
backend/dist/
backend/.env
backend/images/
backend/package-lock.json


frontend/node_modules
frontend/.vite
frontend/.env
frontend/dist/
frontend/package-lock.json

image-processor/node_modules/
image-processor/dist/
image-processor/images/
image-processor/files/
image-processor/package-lock.json

images-data/
mongo-data/
.env

template

create-users.sh
create-superadmins.sh
*.sh
*.md

backend_back
frontend_back

.DS_Store


