.logoutButtonSidenav {
  display: none !important;
  margin-top: auto;
}

@media (max-width: 768px) {
  .logoutButtonSidenav {
    display: block !important;
  }
}

:global(.sidebar-collapse) {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:global(.nav.metismenu) {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

:global(.dropdown-menu.show) {
  display: block !important;
}
